/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
}

@font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#fff7c6 21%, #ffc0cb 83%);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Container{
    /* background-color:#FFD5DC ; */
    background-color:#FFF8E9 ;
    border: 3px solid #2e222f;
    position: relative;
    width:800px;
    height: 500px;
    display: flex ;
    justify-content: space-between;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    overflow: visible;  /*pancheck lang*/
}
.Logo-Container{
    background-color:#FFD5DC ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease-in-out;
    z-index: 5;
     /*pancheck lang*/
    
}
.Form-Container{

    width: 50%;
    height: 100%;
    display: flex;
    transition: all 0.6s ease-in-out;
    justify-content: space-around;
   
}

.Account-Logo{
   
    width: 90%;
    height: 80%;
    display: flex;
    background-color:#FFD5DC ;
 /*pancheck lang*/

   
}
.Account-Logo img{
    width: 100%;
    height: 100%;
}
.SignUp{
    /* border: 3px solid greenyellow; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 20px; */
    padding-left: 100px;
    padding-right: 30px;
    /* overflow-y: scroll; */
  
}
.Login{
    /* border: 3px solid brown; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 40px;
   
}



.SignUp, .Login {
    background-color:#FFF8E9 ;
    flex-shrink: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Default: SignUp is visible */
.Main-Container .Form-Container {
    transform: translateX(0%);
}

/* When switching to login */
.Main-Container.Login-mode .Form-Container {
    animation: Login 0.5s ease forwards;
}

@keyframes Login {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
     
        opacity:0.5;
    }
    100% {
        transform: translateX(-200%);
        opacity: 1;
    }
}

/* SignUp slide-back */
.Main-Container:not(.Login-mode) .Form-Container {
    animation: SignUpReverse 0.5s ease forwards;
}

@keyframes SignUpReverse {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        
        opacity: 0;
    }
    90%{
        opacity:0.5;
    }
    100% {
        transform: translateX(-7%);
        opacity: 1;
    }
}


/* Logo Sync Switch */
.Main-Container.Login-mode .Logo-Container {
    animation: logoRight 0.5s ease-in-out forwards;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 3px solid #2e222f;
  
}

/* When showing SignUp again */
.Main-Container:not(.Login-mode) .Logo-Container {
    animation: logoLeft 0.5s ease-in-out forwards;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 3px solid #2e222f;
   
}

/* Logo movement right */
@keyframes logoRight {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

/* Logo reset to original position */
@keyframes logoLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* form design */

.SignUp > form{
    /* border: 1px solid orangered; */
    /* margin-left: 90px; */
    /* margin-right: 20px; */
    /* padding-left: 40px;
    padding-right: 40px; */
    width: 100%;
    height: 100%;
}
.Login > form{
    /* border: 1px solid rgb(38, 245, 42); */
    /* margin-right: 90px;
    margin-left: 20px; */
    /* padding-left: 40px;
    padding-right: 40px; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
form .Title{
    font-family: Back;
    color: #FF9FC2;
    font-size: 40px;
    text-shadow: rgb(46, 34, 47) 3px 0px 0px, rgb(46, 34, 47) 2.83487px 0.981584px 0px, rgb(46, 34, 47) 2.35766px 1.85511px 0px, rgb(46, 34, 47) 1.62091px 2.52441px 0px, rgb(46, 34, 47) 0.705713px 2.91581px 0px, rgb(46, 34, 47) -0.287171px 2.98622px 0px, rgb(46, 34, 47) -1.24844px 2.72789px 0px, rgb(46, 34, 47) -2.07227px 2.16926px 0px, rgb(46, 34, 47) -2.66798px 1.37182px 0px, rgb(46, 34, 47) -2.96998px 0.42336px 0px, rgb(46, 34, 47) -2.94502px -0.571704px 0px, rgb(46, 34, 47) -2.59586px -1.50383px 0px, rgb(46, 34, 47) -1.96093px -2.27041px 0px, rgb(46, 34, 47) -1.11013px -2.78704px 0px, rgb(46, 34, 47) -0.137119px -2.99686px 0px, rgb(46, 34, 47) 0.850987px -2.87677px 0px, rgb(46, 34, 47) 1.74541px -2.43999px 0px, rgb(46, 34, 47) 2.44769px -1.73459px 0px, rgb(46, 34, 47) 2.88051px -0.838247px 0px;
    margin-top: 10px;
    display: flex;
    justify-self: flex-start;
}

/* input design */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  width: 100%; 
  height: 31px;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #2e222f;
  background-color: white;
}
input::placeholder{
    font-family: Candy;
    color:#817f81
}
input[type="text"],input[type="email"],
input[type="number"],input[type="password"]
{
    font-family: Candy;
    font-weight: none;

}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus {
  border-color: purple ;
  outline: none;
}

p, span a {
    text-decoration: none;
    font-family:Candy ;
}
span a{
    color:#8054ad;
    font-weight: bold;
}
p{
    color:#2e222f;;
}
.Fname , .Lname, .Email, .PhoneNum, 
.Password, .ConfirmPass{
    width:100%;
    height: auto;
    margin:5px;
}

.Fname{
    margin-top: 25px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Gender{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.1rem;
    font-family: Candy;
    color:#2e222f;
    width: 100%;

}

button[type="submit"]{
    margin-top: 15px;
    width: 50%;
    height: 2.3rem;
    font-family: Back;
    color:#2e222f;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}
button:hover{
    transform: scale(1.2) ;
}
button:active{
    transform: scale(0.95);
    background-color: #FF9FC2;
}

.LogEmail, .LogPass{
    width:100%;
    height: 10px;
    margin:20px;
}

.error-message{
    margin-top: -5px;
    height: 12px;
    font-family: Candy;
    color: #ff0040;
    font-size: 10px;
}

.input-error {
    border: 2px solid #ff0040 !important;
    font-size: 10px;
}