/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
  }
  
  @font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFEDE;
    overflow-y: hidden;
}

html, body{
width: 100%;
height: auto;
scroll-behavior: smooth;
scroll-padding-top: 60px;
}

/* Side Navigation Bar */

.sideBar p{
    font-family: Back;
    font-size: 30px;
    color: #91DB69;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    padding: 10px 0;
    padding-left: 20px;
    padding-top: 16px;
    pointer-events: none;
}
 
.sideBar{
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFC0CB;
    transition: 0.5s ease;
    border-right: 2px solid #2E222F;
    z-index: 20;
    /* transform: translateX(-200px); */
    
    display: flex;
    flex-direction: column;
}

.sideBar ul{
    list-style: none;
  padding: 0;
}


ul li a{
    font-family: Candy;
    font-size: 17px;
    color: #fc90b8;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;

    padding: 5px 0;
    display: block;
    text-decoration: none;
    /* transition: 0.2s ease-out; */
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li:hover a{
    color: #FF4287;
}

ul li a.active {
    height: 40px;
    width: 140px;
    background-color: #FFFEDE;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top:#2E222F 2px solid;
    border-left:#2E222F 2px solid;
    border-bottom:#2E222F 2px solid;;
    color: #FF4287;
    /* box-shadow: inset 2px 0 0 #2E222F; */
}

/* .activeNav a{
    height: 40px;
    width: 140px;
    background-color: #FFFEDE;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top:#2E222F 2px solid;
    border-left:#2E222F 2px solid;
    border-bottom:#2E222F 2px solid;
    color: #FF4287;

} */

/* .nav-link{
    height: 40px;
    width: 140px;
    background-color: #FFFEDE;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top:#2E222F 2px solid;
    border-left:#2E222F 2px solid;
    border-bottom:#2E222F 2px solid;
    display: none;
} */

.nav-link {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    transition: background 0.3s ease;
    /* border: 1px solid yellow; */
  }

  
.nav-link svg {
     width: 24px;
     height: 24px;
     flex-shrink: 0;
}
.nav-link a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;   
}
  

.dashboardNav, .ordersNav, .inventoryNav, .accountNav{
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
}

.logoSideNav{
    width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* EXPAND NAVIGATION */

/* input{
    display: none;
    visibility: hidden;
} */

/* .toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #2E222F;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .topLine{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middleLine{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .bottomLine{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .toggle .topLine{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middleLine{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .toggle .bottomLine{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .sideBar{
    transform: translateX(0);
    border-right: 2px solid #2E222F;
} */

/* TOP NAV */

.topNav{
    position: fixed;
    top:0;
    background-color: #FBECA1;
    border-bottom: 2px solid #2E222F;
    /* margin-left: 15%; */
    width: 100vw;
    height: 60px;
   z-index: 15;
}

.topNav p{
    font-family: Backso;
    font-size: 25px;
    color: #91DB69;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;

    margin-top: 17px;
    margin-left: 220px;
    transition: 0.3s ease;
}

/* input:checked ~ .topNav p{
    transform: translateX(160px);
} */

/* OVERVIEW */

.mainContent{
    margin-left: 200px;
    margin-top: 40px;
    /* flex: 1; */
    overflow-y: auto;
    border: 2px solid blue;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */

}

.summaryOverview{

    height: px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    justify-content: space-evenly;
    align-items: center;

    /* border: 2px solid red; */
    margin-left: 100px;
    margin-right: 100px;
    
}

.customerOverview, .orderOverview, .inventoryOverview, .salesOverview{
    height: 150px;
    width: 250px;

    margin-top: 100px;

    border: 4px solid #2E222F;
    border-radius: 30px;
}

.customerOverview{
    background-color: #FEE5EB;
}

.orderOverview{
    background-color: #FFB3C7;
}

.inventoryOverview{
    background-color: #FE8FAA;
}

.salesOverview{
    background-color: #FB6F92;
}

section{
    /* border: 2px solid brown; */
   width: 100%;
    min-height: 100vh;
    display: none;
 /* margin-top: 59.5px; */

}

section:target,
section.active-section {
  display: block;
  pointer-events: auto;
  animation: fadeIn 0.5s ease-out forwards;
  z-index: 10;
  
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }


#dashboardSection{
    background-color: rgb(252, 100, 125);
    overflow: hidden;
}
#orderSection{
    background-color: rgb(247, 238, 119);
    overflow: hidden;

}
#inventorySection{
    background-color: rgb(148, 211, 240);
    overflow: hidden;

}
#accountSection{
    background-color: rgb(169, 247, 159);
    overflow: hidden;


}


/* for accounts */

.Account-Container {
    width: 100%;
    min-height: 100vh;       
    background-color: yellowgreen;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 12px;                 
    position: relative;
}


.Account-Container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 500px;
    height: 500px;
    background-color: yellow;
}
#AdminForm{
    width:300px;
    height: 300px;
    border: solid black;
}


/* DataTables */
.tableAdmin{
    background-color: white;
    border: 2px solid black;
    width: 70%;
}
.LoginAct{
   background-color: white;
    border: 2px solid black;

}
#loginTable{
    border: 2px solid black;
}

/* for products */
#successModal.modal {
  z-index: 1070 !important;
}


