@font-face {
  font-family: Back;
  src: url(fonts/Backso.ttf);
}

body{
  font-family: Back;
}

.title-box {
  position: relative;
  top: -20px;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
  background-color: #f7c4cb;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.payment-container{
    background-color: #EDC5EC;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 9999;  
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    overflow: auto;
}

.payments {
  font-family: Back;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.payments img {
  width: 140px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 30px;
  background-color: #8ce67c;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 30px;
  padding: 12px 25px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;


}
