body {
    font-family: 'Consolas', 'Courier New', monospace; 
  }
  
.banner{

    background: linear-gradient(to bottom, #FFF7C6, #FFC0CB);;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 9999;  
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    padding: 20px;
    overflow: auto;
}



.pic img{
    width: 150px;
    height: auto;
}

.content_title{
    font-family: 'Consolas', 'Courier New', monospace; 
    margin-bottom: 10px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  

  .accept-btn {
    background-color: #FFFF;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .accept-btn:hover {
    background-color: #5aa36a;
  }
  

  .decline-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .decline-btn:hover {
    background-color: #c82333;
  }
