/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
  }
  
  @font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
  }
  
  @font-face {
    font-family: Alatsi;
    src: url(fonts/font2/Alatsi-Regular.ttf);
  }

  body {
    margin: 0;
    background: linear-gradient(to bottom, #fff7c6 0%, #ffc0cb 100%);
  }
  
  
  
  /* NAVIGATION BAR */
  
  .navigationBar{
    background-color: #FBECA1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    border-bottom: #2E222F solid 2px;
  }
  
  .activeNav{
    color: #FF69A0;
  }
  
  .navigationLogo img{
    height: 70px;
  }
  
  nav{
    position: sticky;
    top:0;
    overflow: hidden;
    z-index: 100;
  }
  
  .userAccountNavigationSection img{
    height: 40px;
  }
  
  .navigationContents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    width:300px;
  }
  
  .navigationContents a{
    width: 150px;
  }
  
  .navigationContents li {
    text-decoration: none;
    font-family: Back;
    color: #FF9FC2;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    transition: 0.2s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigationContents a{
  text-decoration: none;
    font-family: Back;
    color: #FF9FC2;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    transition: 0.2s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigationContents li a:hover{
    font-size: 25px; 
    color: #FF4287;
  }
  
  main{
  flex: 1;
  }

  /* RECEIPT BODY */

  .receiptContainer {
    background-color: #FFC0CB;
    max-width: 700px;
    margin: 100px auto 50px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .receiptCard {
    background-color: #FFC0CB;
  }

  .DownloadIcon {
    width: 60px;
    margin-top: 1px;
  }
  
  .successIcon {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .receiptCard h1 {
    font-size: 36px;
    color: #1f6b30;
    text-shadow: 2px 2px #fff;
    font-family: Back;
    text-align: center;
  }
  
  .receiptCard h2 {
    font-size: 20px;
    margin: 10px 0 30px;
    color: #2e222f;
    font-family: Back;
    text-align: center;
  }
  
  .info p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.4;
    color: #2e222f;
    text-align: left;
  }
  
  .download-btn {
    display: inline-block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    font-family: Candy;
  }
  card
  .download-btn:hover {
    background-color: #2ea043;
  }

/* for footer */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #FBECA1;
    overflow: visible;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
  }
  .wave{
    position: absolute;
  }
  .Footer-Content{
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
  }
  .F-logo{
    position:relative;
    width: 300px;
    height: auto;
  }
  .F-logo img{
    width: 100%;
    height: 100%;
  }
  
  .F-Details{
    position: relative;
    width: 50%;
    height: 300px;
    display: flex;
    gap: 130px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .F-Details ul{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 20px;
  }
  .F-Details li{
    list-style: none;
    font-family: Candy;
    color: #2e222f;
  }
  .F-Details a{
    font-family: Back;
    color: #1ebc73;
    text-decoration: none;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
  }
  /* Right Side of footer */
  .RightFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .F-Mascots{
    display: flex;
    flex-direction: row;
  }
  .M1,.M2,.M3{
    position: absolute;
    top:-130px;
  }
  .M1{
    right:180px;
  }
  .M2{
    right:80px;
  }
  .M3{
    right:-30px;
  }
  .FM{
    position: absolute;
    width: 200px;
    height: 200px;
  }
  
  .FM img{
    width:100%;
    height:100%;
  }
  
  .F-Socials{
    display: flex;
    flex-direction: column;
    font-family: candy;
    justify-content: flex-end;
  }
  .SocialIcons{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .Contact{
    font-size: 20px;
  }
  .Gmail{
    width:auto;
    height: 50px;
    width: 4rem;
    font-size: 15px;
  }
  .Gmail img{
    width: 4rem;
    height: 100%;
    padding:10px;
  }
  .Facebook{
    width: auto;
    height: 50px;
  }
  .Facebook img{
    width: 4rem;
    height: 100%;
    padding:10px;
  }
  .Instagram{
    width: auto;
    height: 50px;
  }
  .Instagram img{
    width: 4rem;
    height: 100%;
  }