/* FONTS */
@font-face {
  font-family: Back;
  src: url(fonts/Backso.ttf);
}

@font-face {
  font-family: Candy;
  src: url(fonts/CandyBeans.ttf);
}

.banner{

    background: linear-gradient(to bottom, #FFF7C6, #FFC0CB);;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 9999;  
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    padding: 20px;
    margin-top: 550px;


}



.pic img{
    width: 150px;
    height: auto;
}

.content_title{
    margin-bottom: 10px;
    font-family: Back; 
    font-size: 25px;
    color: #91DB69;
    text-shadow: rgb(46, 34, 47) 3px 0px 0px, rgb(46, 34, 47) 2.83487px 0.981584px 0px, rgb(46, 34, 47) 2.35766px 1.85511px 0px, rgb(46, 34, 47) 1.62091px 2.52441px 0px, rgb(46, 34, 47) 0.705713px 2.91581px 0px, rgb(46, 34, 47) -0.287171px 2.98622px 0px, rgb(46, 34, 47) -1.24844px 2.72789px 0px, rgb(46, 34, 47) -2.07227px 2.16926px 0px, rgb(46, 34, 47) -2.66798px 1.37182px 0px, rgb(46, 34, 47) -2.96998px 0.42336px 0px, rgb(46, 34, 47) -2.94502px -0.571704px 0px, rgb(46, 34, 47) -2.59586px -1.50383px 0px, rgb(46, 34, 47) -1.96093px -2.27041px 0px, rgb(46, 34, 47) -1.11013px -2.78704px 0px, rgb(46, 34, 47) -0.137119px -2.99686px 0px, rgb(46, 34, 47) 0.850987px -2.87677px 0px, rgb(46, 34, 47) 1.74541px -2.43999px 0px, rgb(46, 34, 47) 2.44769px -1.73459px 0px, rgb(46, 34, 47) 2.88051px -0.838247px 0px;
}

.content_text{

  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Candy;
  color:#2E222F;
}


