/* FONTS */
@font-face {
  font-family: Back;
  src: url(fonts/Backso.ttf);
}

@font-face {
  font-family: Candy;
  src: url(fonts/CandyBeans.ttf);
}

@font-face {
  font-family: Alatsi;
  src: url(fonts/font2/Alatsi-Regular.ttf);
}





/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* CHECKOUT SECTION */
.checkoutContainer {
  max-width: 700px;
  margin: 100px auto 50px;
  background-color: #FFC0CB;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.checkoutContainer h1 {
  font-size: 48px;
  color: #ff69a0;
  margin-bottom: 10px;
}


.checkoutContainer h3 {
  font-size: 28px;
  color: #2e222f;
  margin-bottom: 20px;
}


.amount {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.amount input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #FFF4BD;
  font-size: 16px;
  font-family: Alatsi;
}

.paymentBoxGroup{
  margin-bottom: 25px;
  text-align: left;
}

.paymentBoxGroup label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #2e222f;
  font-family: Alatsi;
}

.paymentBoxGroup select,
.paymentBoxGroup input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #FFF4BD;
  font-size: 16px;
  font-family: Alatsi;
}

.confirmButton{
  text-decoration: none;
  background-color: #91DB69;
  color: black;
  padding: 15px 40px;
  border-radius: 30px;
  border: 3px solid black;
  font-size: 20px;
  font-family: Alatsi;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.backtoCartbtn{
  text-decoration: none;
  background-color: #91DB69;
  color: black;
  padding: 15px 30px;
  border-radius: 30px;
  border: 3px solid black;
  font-size: 20px;
  font-family: Alatsi;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.confirmButton:hover {
  background-color: #91DB69;
}



